/* NAME: ASC-Logo */
/* DESCRIPTION: Cleanes Layout mit ASC Logo im Hintergrund */
/* VERSION: 1.2 */
/* AUTHOR: michael */
/* Titelzeile */
.chakra-wrap.css-0 {
    display: none !important;
}

.css-7bjx6y {
    display: none !important;
}

.css-hbcrf5 {
    max-width: 100% !important;
}

.css-hbcrf5 {
    padding: 6px !important;
}

.css-58dqdt {
    display: none !important;
}

.css-37hv00 {
    flex-flow: nowrap !important;
}

/* Titelzeile bei ausbullen */
.css-k008qs {
    display: none !important;
}

.css-dlfaby {
    margin-top: 0 !important;
}

.css-19lo6pj {
    display: none !important;
}

.css-7bjx6y {
    display: none !important;
}

.css-ege71s {
    display: none !important;
}

.css-1lua7td {
    height: 100vh !important;
}


/* chatanzeige */
.css-1hcjfjd {
    display: none !important;
}

body {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!-- Created with Inkscape (http://www.inkscape.org/) --><svg width="210mm" height="297mm" viewBox="0 0 210 297" version="1.1" id="svg1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1"><filter style="color-interpolation-filters:sRGB;" id="filter17" x="-0.010644641" y="-0.0061290919" width="1.0271638" height="1.0114378"><feFlood result="flood" in="SourceGraphic" flood-opacity="1.000000" flood-color="rgb(0,0,0)" id="feFlood16" /><feGaussianBlur result="blur" in="SourceGraphic" stdDeviation="15.100000" id="feGaussianBlur16" /><feOffset result="offset" in="blur" dx="20.000000" dy="-5.600000" id="feOffset16" /><feComposite result="comp1" operator="in" in="flood" in2="offset" id="feComposite16" /><feComposite result="comp2" operator="out" in="comp1" in2="SourceGraphic" id="feComposite17" /></filter></defs><g id="layer1"><g id="g12" transform="matrix(0.03527778,0,0,-0.03527778,43.418325,267.22004)" style="fill:%23000000;fill-opacity:1;filter:url(%23filter17)"><path d="M 1161.67,4710.42 752.871,6117.8 0,6439.77 447.656,4898.61 1161.67,4710.42" style="fill:%23000000;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path14" /><path d="M 1257.27,4743.87 848.473,6151.25 1311.69,6826.46 1759.33,5285.3 1482.48,4986.76 c -0.07,-0.09 -0.17,-0.2 -0.26,-0.29 l -224.95,-242.6 v 0" style="fill:%23000000;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path64" /><path d="m 2118.62,1043.31 208.4,59.92 L 2566.68,0 Z" style="fill:%23000000;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path66" /><path d="m 889.641,3336.23 50.699,189.99 c 29.531,103.41 57.492,212.66 83.88,327.74 26.39,115.03 52.27,227.45 77.6,337.24 h 12.66 c 27.41,-107.66 55.41,-219.57 83.93,-335.64 28.47,-116.14 56.43,-225.93 83.88,-329.34 l 47.51,-189.99 z M 2128.33,2402.15 c -25.81,26.59 -54.07,51.95 -84.44,76.27 l -0.67,2.9 h 2.23 l -646,2064.51 H 838.988 L 193.035,2481.32 h 474.957 l 126.676,490.78 h 630.152 l 72.28,-280.15 c -12.84,0.48 -25.76,0.81 -38.85,0.81 -186.89,0 -360.67,-46.13 -521.355,-138.46 -160.692,-92.3 -289.497,-225.63 -386.317,-400 -96.914,-174.32 -145.301,-384.6 -145.301,-630.75 0,-248.45 47.278,-457.58 141.879,-627.331 94.559,-169.84 220.496,-298.039 377.77,-384.649 157.264,-86.609 329.334,-129.91 516.224,-129.91 294.02,0 534.48,109.391 721.38,328.219 l -266.66,314.541 c -54.72,-57.022 -117.95,-106.01 -189.77,-147.01 -71.77,-41.039 -153.29,-61.558 -244.43,-61.558 -164.11,0 -295.18,63.777 -393.15,191.468 -98.028,127.61 -147.016,305.4 -147.016,533.33 0,150.43 24.449,279.14 73.527,386.32 48.939,107.08 115.029,189.16 198.269,246.14 83.19,56.94 174.88,85.45 275.21,85.45 63.81,0 122.02,-10.77 174.9,-31.9 l 404.78,-1093.81 285.1,84.25 -151.29,659.37 c 13.17,-5.55 26.39,-11.04 39.85,-16.13 134.03,-50.66 268.6,-76 403.72,-76 164.66,0 305.02,29.59 421.15,88.67 116.07,59.07 204.73,137.19 265.98,234.31 61.2,97.08 91.83,202.66 91.83,316.65 0,145.67 -36.96,262.82 -110.83,351.48 -73.92,88.66 -173.12,158.33 -297.65,208.99 l -265.98,107.66 c -88.67,35.87 -163.08,69.67 -223.24,101.33 -60.16,31.67 -90.25,79.16 -90.25,142.49 0,59.08 23.75,104.99 71.25,137.74 47.5,32.71 111.32,49.09 191.57,49.09 82.33,0 157.24,-14.26 224.83,-42.75 67.53,-28.5 135.06,-69.17 202.65,-121.91 l 237.49,294.48 c -88.66,88.66 -192.12,156.2 -310.32,202.66 -118.25,46.4 -236.45,69.66 -354.65,69.66 -143.58,0 -270.73,-27.46 -381.56,-82.33 -110.83,-54.92 -197.41,-128.79 -259.65,-221.65 -62.29,-92.92 -93.41,-196.33 -93.41,-310.32 0,-99.25 20.04,-185.78 60.16,-259.65 40.08,-73.92 91.83,-135.66 155.16,-185.24 63.33,-49.63 129.82,-89.21 199.49,-118.74 l 269.15,-113.99 c 90.74,-38 163.07,-72.35 216.9,-102.92 53.84,-30.63 80.75,-78.67 80.75,-144.08 0,-61.25 -23.75,-109.78 -71.25,-145.65 -47.49,-35.92 -119.83,-53.83 -216.9,-53.83 -84.46,0 -172.08,20.03 -262.82,60.16 -90.79,40.08 -173.12,91.82 -246.98,155.15" style="fill:%23000000;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path68" /></g></g></svg>') !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 40% !important;
    background-blend-mode: normal !important;
    background-color: #1C2E3E !important;

    /* https: //www.svgbackgrounds.com/tools/svg-to-css/ */
}


.css-1dklj6k {
    font-size: var(--chakra-fontSizes-5xl) !important;
    color: darkkhaki !important;
    padding-top: 50px !important;
}

/* .logo-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 200px;
    mix-blend-mode: normal;
} */