/* NAME: no Logo */
/* DESCRIPTION: Cleanes Layout ohne Logo im Hintergrund */
/* VERSION: 1.1 */
/* AUTHOR: michael */

/* Titelzeile */
.chakra-wrap.css-0 {
    display: none !important;
}

.css-7bjx6y {
    display: none !important;
}

.css-hbcrf5 {
    max-width: 100% !important;
}

.css-hbcrf5 {
    padding: 6px !important;
}

.css-58dqdt {
    display: none !important;
}

.css-37hv00 {
    flex-flow: nowrap !important;
}

/* Titelzeile bei ausbullen */
.css-k008qs {
    display: none !important;
}

.css-dlfaby {
    margin-top: 0 !important;
}

.css-19lo6pj {
    display: none !important;
}

.css-7bjx6y {
    display: none !important;
}

.css-ege71s {
    display: none !important;
}

.css-1lua7td {
    height: 100vh !important;
}


/* chatanzeige */
.css-1hcjfjd {
    display: none !important;
}

.css-1dklj6k {
    font-size: var(--chakra-fontSizes-5xl) !important;
    color: darkkhaki !important;
    padding-top: 50px !important;
}

/* .logo-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 200px;
    mix-blend-mode: normal;
} */